# add this to /lib/systemd/system/barduino.service
[Unit]
Description=Barduino
ConditionPathExists=/home/pi/barduino/
After=network.target
 
[Service]
Type=simple
User=pi
Group=pi
LimitNOFILE=1024

Restart=on-failure
RestartSec=10
startLimitIntervalSec=60

WorkingDirectory=/home/pi/barduino
ExecStart=/home/pi/barduino/barduino

# make sure log directory exists and owned by syslog
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/barduino
ExecStartPre=/bin/chown syslog:adm /var/log/barduino
ExecStartPre=/bin/chmod 755 /var/log/barduino
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=barduino
 
[Install]
WantedBy=multi-user.target